<% layout('../layouts/home') -%>

<div class="carousel">
  <img src='/images/vintage_superhero.jpg' alt="">
  <div class="carousel-caption large">Live among heroes? Capture their stories.</div>
</div>