<% layout('../layouts/home') -%>
<div class="dashboard-wrapper">
	<div class='week'>
		<div class='legend'>Chekin scores this week</div>
		<div id='week-results'>
		</div>
	</div>

	<div class='clear'></div>

	<div class='month'>
		<div class='legend'>Cheking scores this month</div>
		<div id='month-results'>
		</div>
	</div>

	<div class='year'>
		<div class='legend'>Checking scores this year</div>
		<div id='year-results'>
		</div>
	</div>

	<div class='clear'></div>
</div>