<% layout('../layouts/home') -%>
<div class="container dashboard-index">
	<div class="page-header">
		<h2>Dashboard</h2>
	</div>

	<div class='plots'>
		<div class='week'>
			<div class='legend'>Checkin scores this week</div>
			<div id='week-results'>
			</div>
			<div id="week-results-no">No data available yet.</div>
		</div>

		<div class='clear'></div>

		<div class='month'>
			<div class='legend'>Checkin scores this month</div>
			<div id='month-results'>
			</div>
			<div id="month-results-no">No data available yet.</div>
		</div>

		<div class='year'>
			<div class='legend'>Checkin scores this year</div>
			<div id='year-results'>
			</div>
			<div id="year-results-no">No data available yet.</div>
		</div>

		<div class='clear'></div>
	</div>
    <%if(Object.keys(recentCheckins).length > 0){%>
    <div>
        <h3>Most recent medication:</h3>
        <table class="table">
            <tr>
                <%var answerCount%>
                <%for(attr in recentCheckins){%>
                <%if(!answerCount){answerCount = recentCheckins[attr].length}%>
                <th><%=attr%></th>
                <%}%>
            </tr>

            <%for(var i = 0; i < answerCount; i++){%>
            <tr>
                <%for(attr in recentCheckins){%>
                <td><%=recentCheckins[attr][i]%> reported at <%=checkinTimes[attr]%></td>
                
                <%}%>
            </tr>
            <%}%>
        </table>
    </div>
    <%}%>
	<div class='notice'></div>
</div>