<% layout('../layouts/home') -%>
<div class="container dashboard-index">
	<div class="page-header">
		<h2>Dashboard</h2>
	</div>
  
  You have completed <%= done %> out of <%= active %> surveys. <a href="/checkin" class="btn btn-primary">Go to Surveys</a>
  <div class='notice'></div>
</div>