
                <div class="control-group">
                    <label class="control-label" for="inputStatus">How are you feeling today?</label>
                    <div class="controls">
                        <input type="text" name="checkin[data]" id="inputStatus" placeholder="Cheery? Concerned? Make note of it here!">
                    </div>
                </div>
		<div class="control-group">
		  <div class="controls">
                    <button type="reset" class="btn btn-warning">Cancel</button>
                    <button type="submit" class="btn btn-primary">Note It</button>
                  </div>
                </div>
