<% layout('layout') -%>
    <!-- Main form 
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->
    <div class="container marketing">
    <div class="row-fluid">
        <div class="span6 offset3" id="rbody">
          <h2 class="myh">Salt Reducer Checkins</h2>
	  <ul>
	  <% for (var i = 0; i<c.length; i++) { 
               if (c[i].data) { %>
	         <li><%= c[i].data %>?</li>
	  <%   }
             } %>    
	  </ul>

        </div>
    </div>

    <!-- /END MAIN FORM  -->
</div>
<!-- /.container -->
