<% layout('layout') -%>
<!-- Main form 
     ================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->
<div class="container marketing">
  <div class="row-fluid">
    <div class="span6 offset3" id="rbody">
      <h2 class="myh">ReCharge Edit Checkin</h2>
      
      <form method="post" action='/checkin/<%= c.id %>' class="form-horizontal">
	<input name='checkin[id]' value=<%= c.id %> type='hidden' /> 
	<input type="hidden" name="_method" value="put"/>
	<%- partial('checkin_fields', {}) %>
      </form>
    </div>
  </div>

  <!-- /END MAIN FORM  -->
</div>
<!-- /.container -->
