<% layout('layout') -%>
<!-- Main form 
     ================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->
<div class="container marketing">
  <div class="row-fluid">
    <div class="span6 offset3" id="rbody">
      <h2 class="myh">Salt Reducer Edit Checkin</h2>
      
      <form method='post' action='/checkin/<%= c.id %>' class="form-horizontal">
	<input name='checkin[id]' value=<%= c.id %> type='hidden'> 
	<input name='_method' value='PUT' type='hidden'>
	<%- partial('checkin_fields', {}) %>
      </form>
    </div>
  </div>

  <!-- /END MAIN FORM  -->
</div>
<!-- /.container -->
