<% layout('layout') -%>
<!-- Marketing messaging and featurettes
     ================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing">
  <div class="row-fluid">
    <h2 class="text-center stitle"></h2>

    <ul class="thumbnails">
      <li class="span4">
        <div class="thumbnail">
          <h1 class="page-header">140/93</h1>
	  <p>September 7, 2013</p>
        </div>
      </li>
      <li class="span4">
        <div class="thumbnail">

        </div>
      </li>
      <li class="span4">
        <div class="thumbnail">
          <h5 class="text-center">Third Thumbnail Title</h5>

          <p>Here are some texts to fill the thumbnail and to produce an attractive area to watch after the video. to produce an attractive area to watch after the video.</p>
          <p>Here are some texts to fill the thumbnail and to produce an attractive area to watch after the video. to produce an attractive area to watch after the video.</p>
          <p>Here are some texts to fill the thumbnail and to produce an attractive area to watch after the video. to produce an attractive area to watch after the video.</p>
        </div>
      </li>
    </ul>
  </div>
  <div class="row-fluid">
    <ul class="thumbnails">
      <li class="span4">
        <div class="thumbnail">
          <h1 class="number">72</h1>

        </div>
      </li>
      <li class="span4">
        <div class="thumbnail">
          <h5 class="text-center">Third Thumbnail Title</h5>

          <p>Here are some texts to fill the thumbnail and to produce an attractive area to watch after the video. to produce an attractive area to watch after the video.</p>
          <p>Here are some texts to fill the thumbnail and to produce an attractive area to watch after the video. to produce an attractive area to watch after the video.</p>
          <p>Here are some texts to fill the thumbnail and to produce an attractive area to watch after the video. to produce an attractive area to watch after the video.</p>
        </div>
      </li>
      <li class="span4">
        <div class="thumbnail">
          <h5 class="text-center">Third Thumbnail Title</h5>

          <p>Here are some texts to fill the thumbnail and to produce an attractive area to watch after the video. to produce an attractive area to watch after the video.</p>
          <p>Here are some texts to fill the thumbnail and to produce an attractive area to watch after the video. to produce an attractive area to watch after the video.</p>
          <p>Here are some texts to fill the thumbnail and to produce an attractive area to watch after the video. to produce an attractive area to watch after the video.</p>
        </div>
      </li>
    </ul>
    
  </div>
  <!-- /END THE FEATURETTES -->
</div>
<!-- /.container -->
