<% layout('../layouts/default') -%>

<div class="container js-admin-container">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">

			<div class="page-header">
				<h2>Provider administration</h2>
			</div>

			<div class="row stats">
				<div class="col-xs-6">
					<h3>Your patients</h3>
				</div>
				<div class="col-xs-6 text-right">
					<a class="btn btn-default" rel="popover" data-placement="top" data-html="true" data-content="<div class='form-group'><label for='username'>Search for users</label><input type='text' class='form-control' id='username' name='username' value=''></div>">
						<i class="glyphicon glyphicon-plus"></i>
						Add patient
					</a>
				</div>
			</div>

			<% for(var i = 0; i < patients.length; i++) { %>
				<div class="row stats">
					<div class="col-xs-6">
						<a href="/user/<%= patients[i].id %>">
							<%= patients[i].name %>
						</a>
					</div>
					<div class="col-xs-6 text-right">
						<a class="btn btn-danger" href="/provider/user/<%= patients[i].id %>/remove">Remove</a>
					</div>
				</div>
			<% } %>

			<% if(!patients.length) { %>
				<h4 class="text-muted text-center">There are no patients. </h4>
			<% } %>

		</div>
	</div>
</div>
