 <h1>ReCharge Health</h1>

<h3>Hi <%= name %>!</h3>
<p>This is a notification from ReCharge Health because you haven't checked-in today. </p>

<small>This email was automatically sent to <%= email %> by ReCharge Health. </small>
