<% layout('../layouts/settings') -%>

<div class="row page-header">
	<div class="col-xs-6">
		<h3>Followers</h3>
	</div>
</div>


<% if(followers.length) { %>

	<ul class="list-group">
		<% for(var i = 0; i < followers.length; i++) { %>
			<li class="list-group-item">
				<div class="row">
					<div class="col-xs-8">
						<%= followers[i].name %>
					</div>

					<div class="col-xs-4">

						<% if(approved[i] === true) { %>
							<a class="btn btn-success">Approv</a>
						<% } else { %>
							<a class="btn btn-danger">Deny</a>
						<% } %>

					</div>
				</div>
			</li>
		<% } %>
	</ul>

<% } else { %>

	<h4 class="text-muted text-center">You are not following any users. </h4>

<% } %>
