hr.myhr {
    border:1px solid #ccc;
}
ul.cfooter {
    text-align:center;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}
ul.cfooter li {
    text-decoration:none;
}
ul.cfooter li a {
    font-family:'Roboto', sans-serif;
    color:#fff;
    font-size:16px;
    font-weight:;
    line-height:20px;
}
ul.cfooter li a:hover {
    opacity:.80;
    text-decoration:none;
}
p.lb {
    margin-right:20px;
    margin-top:27px;
}
h2.myh {
    text-align:center;
}
p.myf {
    padding-top:20px;
    color:#fff;
}
h1.number {
    font-size:220px;
    text-align:center;
    line-height:220px;
    /*width:100%;height:100%;*/
}
h1.number:hover {
    color:#A84A5C;
}
h2.stitle {
    color:#A84A5C;
}
#myfooter {
    background:#47a3da;
    margin-top:60px;
}



    body {
      margin-top:100px;
      color: #5a5a5a;
    }




    /* Special class on .container surrounding .navbar, used for positioning it into place. */
    .navbar-wrapper {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      z-index: 10;
	  width:100%;
	  height:100px;
      margin-top: ;
       /* Negative margin to pull up carousel. 90px is roughly margins and height of navbar. */
    }
    .navbar-wrapper .navbar {

    }
	
	navbar-wrapper {height:100px;}

    /* Remove border and change up box shadow for more contrast */
    .navbar .navbar-inner {
      border: 0;
      -webkit-box-shadow: 0 2px 10px rgba(0,0,0,.25);
         -moz-box-shadow: 0 2px 10px rgba(0,0,0,.25);
              box-shadow: 0 2px 10px rgba(0,0,0,.25);
    }

    /* Downsize the brand/project name a bit */
    .navbar .brand {
      padding: 34px 20px 16px; /* Increase vertical padding to match navbar links */
      font-size: 30px;
      font-weight: bold;
      text-shadow: 0 -1px 0 rgba(0,0,0,.5);
	  font-family: 'Roboto', sans-serif;
    }

    /* Navbar links: increase padding for taller navbar */
    .navbar .nav > li > a {
      padding: 15px 20px;
	  color:#ffffff;
    }
	
	ul li a:active {background:#47a3da;}
	
	.navbar .nav > li > a:active {background-color:#47a3da;}

    /* Offset the responsive button for proper vertical alignment */
    .navbar .btn-navbar {
      margin-top: 10px;
    }



    /* CUSTOMIZE THE CAROUSEL
    -------------------------------------------------- */

    /* Carousel base class */
    .carousel {
      margin-bottom: 60px;
    }

    .carousel .container {
      position: relative;
      z-index: 9;
    }

    .carousel-control {
      height: 80px;
      margin-top: 0;
      font-size: 120px;
      text-shadow: 0 1px 1px rgba(0,0,0,.4);
      background-color: transparent;
      border: 0;
      z-index: 10;
    }

    .carousel .item {
      height: 500px;
    }
    .carousel img {
      position: absolute;
      top: 0;
      left: 0;
      min-width: 100%;
      height: 500px;
    }

    .carousel-caption {
      background-color: transparent;
      position: static;
	  left:40%;
      max-width: 550px;
      padding: 0 20px;
      margin-top: 200px;
      text-align:center;
      margin-left:auto;
      margin-right:auto;
    }
    .carousel-caption h1,
    .carousel-caption .lead {
      margin: 0;
      line-height: 1.25;
      color: #fff;
      text-shadow: 0 1px 1px rgba(0,0,0,.4);
      text-align:center;
    }
    .carousel-caption .btn {
      margin-top: 10px;
    }

    /* RESPONSIVE CSS
    -------------------------------------------------- */

    @media (max-width: 979px) {

      .container.navbar-wrapper {
        margin-bottom: 0;
        width: auto;
      }
      .navbar-inner {
        border-radius: 0;
        padding-top:40px;
		background-color:#47a3da;
      }
	  
	  .nav ul li a{color:#fff;}

      .carousel .item {
        height: 500px;
      }
      .carousel img {
        width: auto;
        height: 500px;
      }

      .featurette {
        height: auto;
        padding: 0;
      }
      .featurette-image.pull-left,
      .featurette-image.pull-right {
        display: block;
        float: none;
        max-width: 40%;
        margin: 0 auto 20px;
      }
    }


    @media (max-width: 767px) {

      .navbar-inner {
        margin: 20px;
		margin-top:0px;
		padding-top:40px;
		
      }

      .carousel {
        margin-left: -20px;
        margin-right: -20px;
      }
      .carousel .container {

      }
      .carousel .item {
        height: 300px;
      }
      .carousel img {
        height: 300px;
      }
      .carousel-caption {
        width: 65%;
        padding: 0 70px;
        margin-top: 100px;
      }
      .carousel-caption h1 {
        font-size: 30px;
      }
      .carousel-caption .lead,
      .carousel-caption .btn {
        font-size: 18px;
      }

      .marketing .span4 + .span4 {
        margin-top: 40px;
      }

      .featurette-heading {
        font-size: 30px;
      }
      .featurette .lead {
        font-size: 18px;
        line-height: 1.5;
      }

    }
