<% layout('../layouts/default') -%>

<div id="homeCarousel" class="carousel slide">
	<!-- Indicators -->
	<ol class="carousel-indicators">
		<li data-target="#homeCarousel" data-slide-to="0" class="active"></li>
		<li data-target="#homeCarousel" data-slide-to="1"></li>
		<li data-target="#homeCarousel" data-slide-to="2"></li>
	</ol>

	<div class="carousel-inner">
		<div class="item active">
			<img src="img/examples/slide-01.jpg" alt="">
			<div class="carousel-caption">
				<h1>Example headline.</h1>
				<p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
				<a class="btn btn-large btn-primary" href="/signup">Sign up today</a>
			</div>
		</div>
		<div class="item">
			<img src="img/examples/slide-02.jpg" alt="">
			<div class="carousel-caption">
				<h1>Another example headline.</h1>
				<p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
				<a class="btn btn-large btn-primary" href="#">Learn more</a>
			</div>
		</div>
		<div class="item">
			<img src="img/examples/slide-03.jpg" alt="">
			<div class="carousel-caption">
				<h1>One more for good measure.</h1>
				<p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
				<a class="btn btn-large btn-primary" href="#">Browse gallery</a>
			</div>
		</div>
	</div>

	<!-- Controls -->
	<a class="left carousel-control" href="#homeCarousel" data-slide="prev">
		<span class="glyphicon glyphicon-chevron-left"></span>
	</a>
	<a class="right carousel-control" href="#homeCarousel" data-slide="next">
		<span class="glyphicon glyphicon-chevron-right"></span>
	</a>

</div>

<div class="container marketing">
	<div class="row">
		<div class="col-md-6 col-md-offset-3" id="rbody">
			<h2 class="myh">TEXT LABEL</h2>

			<form class="form-horizontal">
				<div class="control-group">
					<label class="control-label" for="inputEmail">Name</label>
					<div class="controls">
						<input type="text" id="inputEmail" placeholder="Your name here">
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="question1">Question 1</label>
					<div class="controls">
						<textarea rows="3" placeholder="Your Comments"></textarea>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="question2">Question 2</label>
					<div class="controls">
						<textarea rows="3" placeholder="Your Comments"></textarea>
					</div>
				</div>
				<div class="control-group">
					<div class="controls">
						<label class="checkbox">
							<input type="checkbox" value="">First Option</label>
						<label class="checkbox">
							<input type="checkbox" value="">Seond Option</label>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="inputEmail">Date</label>
					<div class="controls">
						<input type="date" name="bdaytime">
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="inputEmail">Time</label>
					<div class="controls">
						<input type="time" name="usr_time">
					</div>
				</div>
				<div class="control-group">
					<div class="controls">
						<!-- <label class="checkbox">
		<input type="checkbox"> Remember me
		</label> -->
						<button type="reset" class="btn btn-warning">Cancel</button>
						<button type="submit" class="btn btn-primary">Submit</button>
					</div>
				</div>
			</form>
		</div>
	</div>

</div>
