<input type="hidden" name="_csrf" value="<%= csrf_token %>">

<div class="form-group">
	<label for="inputStatus">How are you feeling today?</label>
	<textarea name="checkin[data]" id="inputStatus" class="form-control" rows="3"><%= c.data || "Make a note of how you feel!" %></textarea>
</div>

<button type="reset" class="btn btn-default">Reset</button>
<button type="submit" class="btn btn-primary">Note it</button>
