<% layout('../layouts/default') -%>

<div class="container">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">

			<div class="page-header">
				<a href="/checkin/new" class="btn btn-default pull-right">New check-in</a>
				<h2>Salt Reducer Checkins</h2>
			</div>

			<form method="post" action="/checkin">
				<%- partial('checkin_fields', {}) %>
			</form>

		</div>
  </div>
</div>
